* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(45deg, #5c934c 25%, #4c7740 25%, #4c7740 50%, #5c934c 50%, #5c934c 75%, #4c7740 75%, #4c7740 100%); */
    /* background-size: 14.14px 14.14px; */
    background-color: #333333;
}

.game-area {
    max-width: 850px;
    margin: 3em auto 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 3em;
}

.waste-pile {
    grid-column: 6 / 7;
}

.stock-pile {
    grid-column: 7 / 8;
}

.tableau-pile {
    grid-row: 2 / 3;
}


.placeholder {
    background-color: #f1f0f06b;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    position: relative;
}

.card {
    border: 1px solid #333333;
    border-radius: 5px;
    position: absolute;
}

.card-active {
    border: 1px solid yellow;
}

.buttons {
    position: absolute;
    bottom: 40px;
    left: 40px;
}